     html {
         background: #f5f5f5;
     }

     body {
         background-color: rgb(251, 255, 255);
         max-width: 640px;
         margin: 0 auto;
         width: 100%;
     }

     h1 {
         text-align: center;
         font-size: 35px;
         color: ghostwhite;
         margin-top: 50px;
     }

     .qui-header {
         background-color: darkseagreen;
         height: 60px;
     }

     .pic {
         border-radius: 50%;
     }

     .title {
         position: absolute;
         font-size: 18px;
         font-weight: bolder;
         color: cornsilk;
         top: 0px;
         left: 20px;
         white-space: nowrap;
         line-height: 40px;
         margin-left: 30px;
     }

     .bottom {
         position: absolute;
         top: 400px;
         left: 450px;
     }

     .face {
         float: left;
         border: 1px solid white;
         border-radius: 50%;
         width: 39px;
         height: 39px;
         /*color:wjite;*/
     }

     .day {
         position: absolute;
         top: 110px;
         left: 1000px;
         border-radius: 50%;
         color: white;
         background-color: teal;
         width: 40px;
         height: 40px;
         text-align: center;
         line-height: 35px;
     }

     .em {
         font-style: normal;
         font-weight: bolder;
     }

     span {
         margin-left: 30px;
     }

     .qui-aside {
         height: 800PX;
         width: 200PX;
         border: 1px solid black;
         background-color: #2d3741;
         
     }

     ul{
         list-style: none;
     }
     .nav-aside a{
         font-size: 16px;
         columns: #ce1dce;
         text-decoration:none ;
     }